.home-body {
  background-color: rgba(72, 47, 162, 1);
}

.custom-navbar {
  background-color: rgba(50, 50, 50, 1) !important;
}

.logo-title {
  font-size: 3rem;
  font-family: 'Inter';
  font-weight: bolder;
  color: aliceblue;
}

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.1rem 15rem;
}

.filter-menu {
  font-size: 1rem;
  padding: 0.1rem 15rem;
  min-width: 400px;
}

.page-title {
  font-size: 3rem;
  font-family: 'Inter';
  font-weight: bold;
  font-style: italic;
  color: aliceblue;
}

.sort-button {
  background-color: aliceblue;
  color: rgba(50, 50, 50, 1);
  font-family: 'Inter';
  font-weight: bold;
  border: none;
}

.sort-button:hover {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
}

.sort-button.show {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: lightgray;
}

.filter-button {
  background-color: aliceblue !important;
  color: rgba(50, 50, 50, 1);
  font-family: 'Inter';
  font-weight: bold;
  border: none;
}

.filter-button:hover {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
}

.filter-button.show {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
}

.search-box {
  font-family: 'Inter';
}

.search-box:focus {
  border-color: rgba(102, 70, 219, 1);
  box-shadow: none;
}

.search-button {
  background-color: rgba(102, 70, 219, 1);
  color: aliceblue;
  font-family: 'Inter';
  font-weight: bold;
  border: none;
}

.back-button {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
  font-family: 'Inter';
  border: none;
}

.back-button:hover {
  background-color: aliceblue !important;
  color: rgba(50, 50, 50, 1) !important;
}

.news-card {
  border-color: rgba(50, 50, 50, 1);
  font-family: 'Inter';
}

.news-card-body {
  background-color: rgba(50, 50, 50, 1);
  color: aliceblue;
}

.news-card-footer {
  background-color: rgba(34, 34, 34, 1);
  color: aliceblue;
}

.news-card-footer a {
  background-color: rgba(34, 34, 34, 1);
  color: rgba(176, 154, 255, 1);
}