.home-body {
  background-color: rgba(72, 47, 162, 1);
}

.custom-navbar {
  background-color: rgba(50, 50, 50, 1) !important;
}

.logo-title {
  font-size: 3rem;
  font-family: 'Inter';
  font-weight: bolder;
  color: aliceblue;
}

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.1rem 15rem;
}

.dropdown-menu {
  font-size: 1rem;
  padding: 0.1rem 15rem;
  min-width: 400px;
}

.page-title {
  font-size: 3rem;
  font-family: 'Inter';
  font-weight: bold;
  font-style: italic;
  color: aliceblue;
}

.sort-button {
  background-color: aliceblue;
  color: rgba(50, 50, 50, 1);
  font-family: 'Inter';
  font-weight: bold;
  border: none;
}

.filter-button {
  background-color: aliceblue !important;
  color: rgba(50, 50, 50, 1);
  font-family: 'Inter';
  font-weight: bold;
  border: none;
}

.filter-button:hover {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
}

.filter-button.show {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
}

.back-button {
  background-color: rgba(50, 50, 50, 1) !important;
  color: aliceblue !important;
  font-family: 'Inter';
  border: none;
}

.back-button:hover {
  background-color: aliceblue !important;
  color: rgba(50, 50, 50, 1) !important;
}